<header class="centered ion-padding">
  <h2>Open Market for Web3 Games</h2>
</header>


<section class="centered ion-padding">
  <img class="banner"
       src="/assets/banner.jpg">
</section>

<section class="centered ion-padding">
  Decentralised Stores managed by Communities.
</section>

<section class="centered ion-padding">
  The solution we built for today is an incentive system between the following three parties: game developers,
  communities as publishers, and players. It has a network effect and everyone is motivated to keep the system up and
  running, and all parties will benefit from it (except for large corporations 😀)
</section>
<br />
<br />
<br />
<br />
<br />
<br />